---
import { getCollection } from "astro:content";
import BlogIndex from "../../components/BlogIndex.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { sortByPubDateDesc } from "../../utils/content";

const posts = sortByPubDateDesc(await getCollection("blog", ({ data }) => !data.draft));
---

<BaseLayout title="博客" description="博客文章列表">
  <div class="container">
    <BlogIndex posts={posts} />
  </div>
</BaseLayout>
