---
import { getCollection } from "astro:content";
import BlogIndex from "../components/BlogIndex.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { sortByPubDateDesc } from "../utils/content";

const posts = sortByPubDateDesc(await getCollection("blog", ({ data }) => !data.draft));
---

<BaseLayout title={`${SITE_TITLE} | 博客`} description={SITE_DESCRIPTION}>
  <div class="container">
    <BlogIndex posts={posts} />
  </div>
</BaseLayout>
